.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.breed-select{
    height: 30px;
}

.cat-info{
    display: flex;
    margin-top: 20px;
}

.img{
    width: 300px;
    max-height: 100%;
    object-fit: contain;
}

.text-info{
    display: block;
    margin-left: 20px;
}